<!DOCTYPE html>
<html>
<head>
  <title>自己分析WebApp</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="menu">
    <h2>
    <% if logged_in? %>
    ログイン中:<%= current_user.name%>
    <%end%>
    </h2>
    <ul>
      <li><a href="#home">ホーム</a></li>
      <li><a href="#register">登録</a></li>
      <li><a href="#analysis">分析</a></li>
      <% if logged_in? %>
      <%= button_to "ログアウト", logout_path, method: :delete %>
      <% else %>
      <li><a href="<%= login_path %>">ログイン</a></li>
      <li><a href="<%= signup_path %>">アカウント作成</a></li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <h1>自己分析WebApp</h1>
    <p>就活で使用する自己PRや志望動機を登録し、AIによる自己分析を行います。</p>

    <form action="/register" method="post">
      <div>
        <label for="self_pr">自己PR:</label><br>
        <textarea id="self_pr" name="self_pr" rows="4" cols="50"></textarea>
      </div>
      <div>
        <label for="motivation">志望動機:</label><br>
        <textarea id="motivation" name="motivation" rows="4" cols="50"></textarea>
      </div>
      <div>
        <label for="extracurricular_activities">学チカ:</label><br>
        <textarea id="extracurricular activities" name="extracurricular activities" rows="4" cols="50"></textarea>
      </div>
      <div>
        <input type="submit" value="送信">
      </div>
    </form>
  </div>
</body>
</html>
