<!DOCTYPE html>
<html>
<head>
  <title>自己分析WebApp</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="menu">
    <h2>メニュー</h2>
    <ul>
      <li><a href="#home">ホーム</a></li>
      <li><a href="#login">ログイン</a></li>
      <li><a href="#register">登録</a></li>
      <li><a href="#analysis">分析</a></li>
      <li><a href="#singnup">アカウント作成</a></li>
    </ul>
  </div>

  <div class="content">
    <input type="submit" value="ログイン">
  </div>
</body>
</html>
